<div id="accordion" class="panel panel-primary behclick-panel">
    <div class="panel-heading">
        <h3 class="panel-title">Filter Profiles</h3>
    </div>
    <div class="panel-body" >
        <test></test>
        <div class="panel-heading " >
            <h4 class="panel-title">Search</h4>
        </div>
        <form ng-submit="$ctrl.onSubmit()">
            <div class="input-group">
              <input name="q" type="text" class="form-control" placeholder="Search by anything" ng-model="$ctrl.formData.query" aria-describedby="sizing-addon2">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Go</button>
              </span>
            </div>
        </form>  
        <div class="panel-heading " >
            <h4 class="panel-title">Enabled</h4>
        </div>
        <div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="" ng-change="setEnabled(true)" ng-model="$ctrl.formData.enabled">
                            Yes
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="checkbox" >
                        <label>
                            <input type="checkbox" value="" ng-change="setEnabled(false)" ng-model="$ctrl.formData.enabled" ng-true-value="false" ng-false-value="true">
                            No
                        </label>
                    </div>
                </li>
            </ul>
        </div>
        <!-- END Enabled-->
        <div class="panel-heading " >
            <h4 class="panel-title">Visible</h4>
        </div>
        <div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="" ng-change="setVisible(true)" ng-model="$ctrl.formData.visible">
                            Yes
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="checkbox" >
                        <label>
                            <input type="checkbox" value="" ng-change="setVisible(false)" ng-model="$ctrl.formData.visible" ng-true-value="false" ng-false-value="true">
                            No
                        </label>
                    </div>
                </li>
            </ul>
        </div>
        <!-- END Visible-->
    </div>  
</div>