<!-- Fixed navbar -->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">BoF Admin</a>
        </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
        <!--        <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profiles <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Person</a></li>
                        <li><a href="#">Company</a></li>
                    </ul>
                </li>
        -->
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>