  <div class="container mt-5">

      <div class="row">
          <div class="col-md-3">
              <div class="row">
                  <div class="col-xs-12">
                      <home-search-form
                        on-search-ready="$ctrl.onSearchReady(formData)">
                      </home-search-form>
                  </div>
              </div>
          </div>
          <div class="col-md-9">
              <home-search-results
                items="$ctrl.searchResults">
              </home-search-results>
          </div>
      </div>
      

  </div> <!-- /container -->