<div class="row">
    <div class="col-md-12"><h4>Results:</h4></div>
</div>
<div class="row">
    <div class="col-md-12">
        <p ng-if="!$ctrl.items.length">No profiles matching search criteria were found.</p>
        <table ng-if="$ctrl.items.length" class="table table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    <th class="col-md-1"></th>
                    <th>Profile</th>
                    <th>Sub title</th>
                    <th>Country</th>
                    <th class="col-md-1">Enabled</th>
                    <th class="col-md-1">Visible</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in $ctrl.items" class="text-">
                    <td><img ng-src="{{ item.thumbnailUrl }}"></td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.subTitle }}</td>
                    <td>{{ item.country }}</td>
                    <td class="text-center">
                        <i ng-if="item.enabled" class="glyphicon glyphicon-ok text-color-green"></i>
                        <i ng-if="!item.enabled" class="glyphicon glyphicon-remove text-color-red"></i>
                    </td>
                    <td class="text-center">
                        <i ng-if="item.visible" class="glyphicon glyphicon-ok text-color-green"></i>
                        <i ng-if="!item.visible" class="glyphicon glyphicon-remove text-color-red"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="pagination col-md-pull-5">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        </ul>
    </div>
</div>